<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HTML Source Code Generator Tool</a>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="card ">
            <div class="card-header bg-info">
                Input Element
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <button  class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>